:host {
    display: block;
}


.categories-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.categories-scroll::-webkit-scrollbar {
    display: none;
}


@keyframes popup {

    from {
        opacity: 0;
        transform: translateY(25px) scale(.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}

.recipe-modal {
    animation: popup .35s ease;
}


@media (max-width:640px){

    .recipe-modal{

        margin:10px;

    }

}
